$background: #efe5bf;
$egg: #478bed;
$buttons: #ffc02d;
$lcd: #eeeee2;
$lcd-on: #474934;

html {
  font-size: 1vh;
  @media screen and (max-aspect-ratio: 1/1) {
    font-size: 1vw;
  }
  // using rem as an easy custom-sized unit that guarantees everything scales correctly to the viewport size
  margin: 0;
  padding: 0;
}

#egg-container {
  width: 80rem;
  height: 80rem;
  position: relative;
  margin-top: 41.4%;
  left: 50%;
  transform: translate(-50%, -50%);
  * {
    position: relative;
  }
}

.egg {
  background: $egg;
  width: 60rem;
  height: 75rem;
  border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
  bottom: 0;
  left: 50%;
  transform: translatex(-50%);
  position: relative;
}

.eggs {
  background: $egg;
  width: 60rem;
  height: 75rem;
  border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
  bottom: 0;
  left: 50%;
  top: -93.5%;
  transform: translatex(-50%);
  position: relative;
}

.crack {
  background: $buttons;
  position: relative;
  width: 35rem;
  height: 35rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  clip-path: polygon(
    3% 5%,
    15% 6%,
    28% 0,
    63% 6%,
    80% 0,
    100% 9%,
    95% 22%,
    100% 54%,
    95% 73%,
    96% 96%,
    71% 95%,
    47% 100%,
    28% 93%,
    12% 99%,
    0% 90%,
    6% 76%,
    0 57%,
    5% 28%
  );
}

.display {
  background: $lcd;
  width: 27rem;
  height: 27rem;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  border-radius: 1rem;
}

.display-name {
  position: absolute;
  top: 15rem;
  left: 23rem;
  height: 2rem;
  
}

.display-bars {
  position: relative;
  height: 75rem;
  width: 15rem;
}

#health-bar {
  top: 2rem;
  left: 2rem;
  height: 2rem;
}

#care-bar {
  top: -5rem;
  left: 62rem;
  height: 2rem;
}

#hunger-bar {
  top: 58rem;
  left: 2rem;
  height: 2rem;
}

#thirst-bar {
  top: 51rem;
  left: 62rem;
  height: 2rem;
}

#health-text {
  top: 2rem;
  left: 1.5rem;
  height: 2rem;
}

#care-text {
  top: -5rem;
  left: 61rem;
  height: 2rem;
}

#hunger-text {
  top: 58rem;
  left: 1.5rem;
  height: 2rem;
}

#thirst-text {
  top: 51rem;
  left: 56.5rem;
  height: 2rem;
}

#active-image {
  width: 27rem;
  margin-top: 6rem;
  position: relative;
}

.buttons {
  width: 100%;
  text-align: center;
  top: 30%;
  position: relative;
}

.buttons-pet {
  width: 100%;
  text-align: center;
  top: -111.5%;
  position: relative;
}

#pet-button {
  width: 100%;
  text-align: center;
  top: 80%;
  display: inline-block;
  position: relative;
  background: $buttons;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  &:not(:last-child) {
    margin-right: 4.5rem;
  }
  &:nth-child(2) {
    top: 2rem;
  }
}

#pet-buttons {
  width: 100%;
  text-align: center;
  top: -20%;
  display: inline-block;
  position: relative;
  background: $buttons;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  &:not(:last-child) {
    margin-right: 4.5rem;
  }
  &:nth-child(2) {
    top: 2rem;
  }
}

#item-button {
  text-align: center;
  top: -134.5%;
  left: 41.5%;
  width: 12.5rem;
  height: 5.5rem;
}

.loop {
  width: 3rem;
  height: 3rem;
  position: relative;
  border: 2rem $egg solid;
  border-radius: 50%;
  left: 50%;
  transform: translatex(-50%);
}

Card {
  width: 50%;
}

button {
  padding: 5px;
}


.loops {
  width: 3rem;
  height: 3rem;
  position: relative;
  border: 2rem $egg solid;
  border-radius: 50%;
  left: 50%;
  top: -93.5%;
  transform: translatex(-50%);
}

#battleprep-egg {
  background: $egg;
  width: 30rem;
  height: 37.5rem;
  border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
  bottom: 0;
  left: 50%;
  transform: translatex(-50%);
  position: relative;
}

#battleprep-crack {
  background: $buttons;
  position: relative;
  width: 17.5rem;
  height: 17.5rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  clip-path: polygon(
    3% 5%,
    15% 6%,
    28% 0,
    63% 6%,
    80% 0,
    100% 9%,
    95% 22%,
    100% 54%,
    95% 73%,
    96% 96%,
    71% 95%,
    47% 100%,
    28% 93%,
    12% 99%,
    0% 90%,
    6% 76%,
    0 57%,
    5% 28%
  );
}

#battleprep-display {
  background: $lcd;
  width: 13.5rem;
  height: 13.5rem;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  border-radius: 1rem;
}

#battleprep-image {
  width: 13.5rem;
  margin-top: 3rem;
  position: relative;
}

.nes-field progress {
  max-height: 2rem;
}

.nes-field text{
  min-width: 26rem;
}

#battleprep-button {
  width: 100%;
  text-align: center;
  top: 80%;
  display: inline-block;
  position: relative;
  background: $buttons;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  color:#ffc02d;
  &:not(:last-child) {
    margin-right: 4.5rem;
  }
  &:nth-child(2) {
    top: 2rem;
  }
}

#battleprep-card {
  margin:10rem;
}

#battleprep-display-name {
  font-size: large;
}

.battleprep-container {
  padding: 50px;
  background-color: #AF1B3F;
}

//battlewaitingroom
#loading {
  display: block;
  float: center;
  margin-top: 15rem;
  width: 50%;
}

#battle-card-right{
  float: right;
  width: 40%;
  margin: 5%;
}

#battle-card-left{
  float: left;
  width: 40%;
  margin: 5%;
}

#msg-container {
  overflow-y: scroll;
  font-size: 14px;
  font-weight: bold;
  left: -1px;
  padding: 10px 7px 5px;
  height: 115px;
  * {
    scroll-snap-stop: auto;
  }
}
