/* Add a background color to the top navigation */
.topnav {
  background-color: #08B2E3;
  overflow: hidden;
  margin-bottom: 30px;
}

.col-left {
  float: left;
  font-size: 20px;
}

.col-right {
  float: right;
  font-size: 20px;
  margin-right: 15px;
}

#title-container {
  margin-left:10%;
  margin-right:10%;
  text-align: center;
  font-size: 60px;
  color: #08B2E3;
}

.container {
  background-color: #EAF47C;
}

.caption {
  font-size: 20px;
}

#about-section {
  margin-top: 200px;
  background-color: #28965A;
  width:100%;
  padding: 50px;
}

#devs-section {
  margin-top: 200px;
  background-color: #EE6352;
  width:100%;
  padding: 50px;
}

h1 {
  text-align: center;
}

.column {
  float: left;
  width: 33.33%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

#profiles {
    text-align: center;
}

#login-form {
  background-color: #EAF47C;
  width:100%;
  padding: 50px;
  margin-top: 10rem;
}

.nes-field {
    margin: 10px;
}

.form {
  background-color: #EAF47C;
  margin-top: 10rem;
}